#index_recipes
  - @recipes.each do |recipe|
    .row
      .box
        .col-lg-12
          %hr
          %h2.intro-text.text-center= link_to recipe.name, recipe
          %hr
          %img.img-responsive.img-border.img-left(src="assets/intro-pic.jpg")
          %hr.visible-xs
          %p= recipe.description